.footer {
  background-color: #1c1c1c;
  color: #ddd;
  padding: 30px 40px;
  font-size: 0.95em;
}

.footer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
}


.footer-copy {
  text-align: center;
  font-size: 0.85em;
  color: #aaa;
}

