body.dark .contacts{
    --bg-gradient: linear-gradient(135deg, #121212, #1e1e1e);
    --card-bg: #1f1f1f;
    --text-color: #ddd;
    --link-color: #959595;
}

body:not(.dark) .contacts{
    --bg-gradient: linear-gradient(135deg, #f0f0f0, #d7d0c8);
    --card-bg: #f6f4f1;
    --text-color: #333;
    --link-color: #094746;
}

.contacts {
    text-align: center;
    padding: 40px;
    min-height: 100vh;
    background: var(--bg-gradient);
    justify-content: center;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    background: var(--card-bg);
    color: var(--text-color);
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    max-width: 400px;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
}

.contact-item:hover {
    transform: scale(1.05);
}

.icon {
    font-size: 25px;
    color: #094746;
}

.contact-item p {
    margin: 0;
    font-size: 16px;
    color: var(--link-color);
}

.contact-item a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: bold;
}

.contact-item a:hover {
    text-decoration: underline;
}