body:not(.dark) .projects-grid {
    --card-bg: #eadfd2;
    --card-hover: #ECE5DD;
    --heder-h2: #2c3e50;
}

:root {
    --card-bg: #272727;
    --card-hover: #303030;
    --heder-h2: #3c3c3c;
}

.projects-wrap {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.projects-title {
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.author-customer h1  {
    color: #9d9d9d;
    font-size: 10px;
    margin-top: 15px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: var(--card-bg);
    border: 3px solid transparent;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-left: 5px solid transparent;
    transform: translateY(10px);
    opacity: 0;
    animation: fadeInUp 1s forwards;
    transition: transform 03s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
    background-color: var(--card-hover);
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.project-header h2 {
    font-size: 24px;
    color: var(--heder-h2);
    margin: 0;
    font-weight: 600;
}

.project-header span {
    font-size: 30px;
    color: var#2980b9;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.project-header span:hover {
    color: #ff8a00;
}

.project-card.active .project-header span {
    color: #2980b9;
}

.project-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.project-card.active .project-description {
    max-height: 400px;
    margin-top: 12px;
}

.project-description p {
    font-size: 24px;
    color: #2c3e50;
    margin: 0;
    font-weight: 600;
}

.project-tags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: #ff8a00;
    color: white;
    padding: 4px 10px;
    margin-right: 6px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
}

.project-date {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #999
}

@keyframes fadeInUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


